<img src="images/GeekGirl.png">

<h3>Hey blondie!</h3>

<form action="/login" method="post">
  <input name="username" id="username" type="text" placeholder="Your username" />
  <input name="password" id="password" type="password" placeholder="Your password"/>
  <input type="submit" />
</form>